<body>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 style="margin-top: 20px;">Orden: {{orden.CVE_ORDEN}}</h1>
        </div>
        <div style="display: fex; justify-content: center;">
            <h2 *ngIf="orden.AUTORIZACION === null" style="color: red; text-align: center;">NO Autorizada</h2>
            <h2 *ngIf="orden.AUTORIZACION === '1' " style="color: green; text-align: center;">Autorizada</h2>
        </div>

        <section>
            <div>
                <div style="background-color: #fff; padding: 15px; margin: 15px;">
                    <div class="textData mb-3">
                        <div
                            style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px;">
                            <div class="FirstTextData ">
                                <div class="contentLabelInput">
                                    <label>Nombre: </label>
                                    <div>{{orden.CLIENTE}} </div>
                                </div>

                                <div class="contentLabelInput">
                                    <label>Dirección: </label>
                                    <div>{{orden.LOCALIDAD}}</div>
                                    <div
                                        *ngIf="orden.LOCALIDAD === null || orden.LOCALIDAD === undefined || orden.LOCALIDAD === ''">
                                        Municipio no ingresado.

                                    </div>
                                </div>

                                <div class="contentLabelInput">
                                    <label>Fecha: </label>
                                    <div>{{orden.FECHA_DOC}} </div>
                                </div>

                                <div class="contentLabelInput">
                                    <label>Vendedor: </label>
                                    <div>{{orden.VENDEDOR}}</div>
                                </div>
                            </div>

                            <div class="secondTextData">
                                <div class="contentLabelInput">
                                    <label>NIT: </label>
                                    <div>{{orden.CURP}}</div>
                                    <div *ngIf="orden.CURP === null">C/F</div>
                                </div>
                                <div class="contentLabelInput">
                                    <label>Código Cliente: </label>
                                    <div> {{orden.CLAVE}}</div>

                                </div>
                                <div class="contentLabelInput">
                                    <label>Clasificación: </label>
                                    <div>{{orden.CLASIFIC}}</div>

                                </div>
                                <div class="contentLabelInput">
                                    <label>Forma de Pago: </label>
                                    <div *ngIf="orden.CON_CREDITO === 'S'"> Con Crédito</div>
                                    <div *ngIf="orden.CON_CREDITO === 'N'">Sin Crédito</div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="table-responsive" style="margin: 10px;">
                                <table class="table table-bpedidoed table-hover">
                                    <thead style="margin: -100px;">
                                        <tr>
                                            <th class="text-center TextB"
                                                style="background-color: #0080ffd9; color: white;">#</th>
                                            <th class="text-center TextB"
                                                style="width: 120px; background-color: #0080ffd9; color: white;">
                                                Articulo</th>
                                            <th class="text-center TextB"
                                                style="width: 450px; background-color: #0080ffd9; color: white;">
                                                Descripción </th>
                                            <th class="text-center TextB"
                                                style="background-color: #0080ffd9; color: white;">Cantidad</th>

                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr *ngFor="let detalle of detalles">
                                            <td style="max-width: 15px; margin: 0 auto; text-align: center;">
                                                {{detalles.indexOf(detalle) + 1}}
                                            </td>
                                            <td class="text-center"
                                                style="max-width: 15px; margin: 0 auto; text-align: center;">
                                                {{detalle.CVE_ART}} </td>
                                            <td>
                                                {{detalle.DESCR}}
                                                <br>
                                                <hr style="margin: 0;">
                                                {{detalle.STR_OBS}}
                                            </td>

                                            <td class="text-center"> {{detalle.CANT }}</td>

                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <form>
                            <div class="d-flex" style="justify-content: center;">
                                <button (click)="autorizar();" class="btn icon-btn btn-success ms-2 me-2">
                                    <span style="border-radius: 50% 50%;"
                                        class="btn-glyphicon fa-solid fa-check text-success"></span>
                                    Autorizar
                                </button>

                                <button class="btn icon-btn btn-warning ms-2 me-2" data-bs-toggle="modal"
                                    data-bs-target="#Corregir">
                                    <span style="border-radius: 50% 50%; width: 30px"
                                        class="btn-glyphicon fa-solid fa-exclamation text-warning"></span>
                                    Corregir
                                </button>

                                <button class="btn icon-btn btn-danger ms-2 me-2" data-bs-toggle="modal"
                                    data-bs-target="#Rechazar">
                                    <span style="border-radius: 50% 50%; width: 30px"
                                        class="btn-glyphicon fa-solid fa-xmark text-danger"></span>
                                    Rechazar
                                </button>

                                <button routerLink="/admin/autorizaciones" routerLinkActive="router-link-active"
                                    class="btn icon-btn btn-secondary ms-2 me-2">
                                    <span style="border-radius: 50% 50%; width: 30px"
                                        class="btn-glyphicon fa-solid fa-arrow-left text-secondary"></span>
                                    Cancelar
                                </button>

                                <div class="modal fade" id="Corregir" tabindex="-1" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="addContainer">
                                                <div class="contact-details">
                                                    <div class="modalHeader">
                                                        <div class="editRowModal">
                                                            <div class="modalHeader clearfix">
                                                                <div class="modal-about contact-header">
                                                                    <div class="contact-details-img">
                                                                        <i
                                                                            class="fa-solid fa-triangle-exclamation fa-2x mt-1"></i>
                                                                    </div>
                                                                    <div class="contact-details-heading">
                                                                        <div class="contact-details-name mb-2">
                                                                            Corregir Email
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button mat-icon-button data-bs-dismiss="modal"
                                                            aria-label="Close dialog">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="body">
                                                    <form class="register-form m-4" #emailForm="ngForm">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1"
                                                                style="font-size: 18px;">Correcciones: </label>
                                                            <textarea [(ngModel)]="email.razon" name="razon"
                                                                class="form-control" id="exampleFormControlTextarea1"
                                                                rows="3"></textarea>
                                                        </div>
                                                        <hr style="margin-top: -0.5rem;">
                                                        <div class="spacing-buttons">
                                                            <button (click)="corregirEmail()" type="submit"
                                                                data-bs-dismiss="modal"
                                                                class="btn btn-labeled btn-success me-1">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-floppy-o"></i>
                                                                </span>
                                                                Enviar
                                                            </button>
                                                            <button type="button" data-bs-dismiss="modal"
                                                                class="btn btn-labeled btn-danger ms-1 me-1">
                                                                <span class="btn-label">
                                                                    <i class="fa fa-times-circle"></i>
                                                                </span>
                                                                Cancelar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="Rechazar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="addContainer">
                                            <div class="contact-details">
                                                <div class="modalHeader">
                                                    <div class="editRowModal">
                                                        <div class="modalHeader clearfix">
                                                            <div class="modal-about contact-header">
                                                                <div class="contact-details-img">
                                                                    <i
                                                                        class="fa-regular fa-circle-xmark fa-2x mt-1"></i>
                                                                </div>
                                                                <div class="contact-details-heading">
                                                                    <div class="contact-details-name mb-2">
                                                                        Rechazar Orden
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button mat-icon-button data-bs-dismiss="modal"
                                                        aria-label="Close dialog">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="body">
                                                <form class="register-form m-4" #emailForm="ngForm">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1"
                                                            style="font-size: 18px;">Rechazado por: </label>
                                                        <textarea [(ngModel)]="email.razon" name="razon"
                                                            class="form-control" id="exampleFormControlTextarea1"
                                                            rows="3"></textarea>
                                                    </div>
                                                    <hr style="margin-top: -0.5rem;">
                                                    <div class="spacing-buttons">
                                                        <button (click)="rechazarEmail()" type="submit"
                                                            data-bs-dismiss="modal"
                                                            class="btn btn-labeled btn-success me-1">
                                                            <span class="btn-label">
                                                                <i class="fa fa-floppy-o"></i>
                                                            </span>
                                                            Rechazar
                                                        </button>
                                                        <button type="button" data-bs-dismiss="modal"
                                                            class="btn btn-labeled btn-danger ms-1 me-1">
                                                            <span class="btn-label">
                                                                <i class="fa fa-times-circle"></i>
                                                            </span>
                                                            Cancelar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>
</body>