<body style="min-height: 100vh;">
  <main style="margin: 80px 25px;">
    <div class="pagetitle">
      <h1>Usuarios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </nav>
    </div>
    <section>
      <div class="text-center mt-4">
        <button *ngIf="!showTableUsers" data-bs-toggle="modal" data-bs-target="#addUser"
          class="btn icon-btn btn-success ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-user text-success"></span>
          Agregar Usuario
        </button>
        <button *ngIf="!showTableUsers" (click)="showTable();" class="btn icon-btn btn-secondary ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-table text-secondary"></span>
          Tabla de Usuarios
        </button>
        <button *ngIf="showTableUsers" (click)="showTable();" class="btn icon-btn btn-secondary ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-address-card text-secondary"></span>
          Cartas de Usuarios
        </button>
      </div>
      <br>
      <hr>

      <div *ngIf="!showTableUsers" class="row mt-3 clearfix">
        <div class="page-content page-container" id="page-content">
          <div class="padding">
            <div class="row d-flex justify-content-center">
              <div class="col-xl-6 col-md-12">
                <div class="card user-card-full" *ngFor="let user of users">
                  <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                      <div class="text-center text-white">
                        <div class="contImg">
                          <img src="../../../../assets/img/users/usuario.png" class="imgAvatar"
                            alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600">{{user.name}} {{user.surname}}</h6>
                        <p>{{user.role}}</p>
                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información</h6>
                        <div class="row">
                          <div class="col-sm-9 mb-2">
                            <p class="m-b-10 f-w-600">Username</p>
                            <h6 class="text-muted f-w-400">{{user.username}}</h6>
                          </div>

                          <div class="col-sm-11 mt-2">
                            <p class="m-b-10 f-w-600">Email</p>
                            <h6 class="text-muted f-w-400">{{user.email}}</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1 *ngIf="notFound === true && showTableUsers === false" class="text-center">
          Sin Resultados
        </h1>

      </div>


      <div *ngIf="showTableUsers" class="row clearfix mt-5 tableText">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
          <div class="card tableText">
            <div class="materialTableHeader mb-3 mt-3 tableText" style="    min-width: 100%;">
              <div class="row tableText">
                <div class="col-8 tableText">
                  <ul class="header-buttons-left ml-0 tableTitle">
                    <li class="dropdown">
                      <div class="headerTable">
                        <h2 class="titleTableC">Tabla de Usuarios</h2>
                      </div>
                    </li>
                    <li class="dropdown m-l-20 ms-3">
                      <label for="search-input">
                        <i class="material-icons search-icon">search</i>
                      </label>
                      <input placeholder="Buscar Usuario..." type="text" #filter class="browser-default search-field"
                        aria-label="Search box" />
                    </li>
                    <li *ngIf="buttonActions">
                      <div class="icon-button-demo m-l-10">
                        <button mat-mini-fab color="warn">
                          <mat-icon class="col-white">delete
                          </mat-icon>
                        </button>
                      </div>
                    </li>
                    <li *ngIf="buttonActions">
                      <div class="icon-button-demo m-l-10">
                        <button data-bs-toggle="modal" data-bs-target="#updateUser" mat-mini-fab class="colorUpdate">
                          <mat-icon class="col-white">edit
                          </mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col-4">
                  <ul class="header-buttons">
                    <li>
                      <div class="icon-button-demo add">
                        <button data-bs-toggle="modal" data-bs-target="#addUser" mat-mini-fab color="primary">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                        <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                          <mat-icon>file_download</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu" style="background-color: black;">

                          <button mat-menu-item (click)="exportExcel()">
                            <i style="color:green" class="fa-solid fa-file-excel"></i>
                            &nbsp;
                            Excel
                          </button>
                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-busered table-hover">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th> </th>
                      <th> Nombre </th>
                      <th> Apellido </th>
                      <th> Username </th>
                      <th> Email </th>
                      <th> Rol </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="text-center"> {{users.indexOf(user) + 1}} </td>
                      <td class="text-center">
                        <mat-checkbox *ngIf="user.checked==true || controloClick==0" #check="matCheckbox"
                          (click)="showButtonActions(user.id, check);" class="example-margin" color="primary">
                        </mat-checkbox>
                        <mat-checkbox disabled="" *ngIf="user.checked==false" class="example-margin" color="primary">
                        </mat-checkbox>
                        {{user.position}}
                      </td>
                      <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.name }}
                      </td>
                      <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.surname
                        }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser"> {{
                        user.username }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.email
                        }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.role }}
                      </td>
                    </tr>
                    <tr rowspan="9" *ngIf="notFound === true">
                      <td colspan="9" class="text-center">Sin Resultados</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="addContainer">
              <div class="contact-details">
                <div class="modalHeader">
                  <div class="editRowModal">
                    <div class="modalHeader clearfix">
                      <div class="modal-about contact-header">
                        <div class="contact-details-img">
                          <i class="fas fa-user-plus fa-2x mt-1"></i>
                        </div>
                        <div class="contact-details-heading">
                          <div class="contact-details-name mb-2">
                            Nuevo Usuario
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <hr />
              <div class="body">
                <form (ngSubmit)="saveUser(addUserForm)" #addUserForm="ngForm" class="register-form m-4">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input [(ngModel)]="user.name" name="name" autocomplete="off" matInput>
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input [(ngModel)]="user.surname" name="surname" autocomplete="off" matInput>
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input [(ngModel)]="user.username" name="username" autocomplete="off" matInput>
                        <mat-icon matSuffix>switch_account</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)]="user.password" name="password" autocomplete="off" matInput type="password">
                        <mat-icon matSuffix>key</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" name="email" autocomplete="off" matInput>
                        <mat-icon matSuffix>email</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row d-flex" style="    justify-content: center;">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select [(ngModel)]="user.role" name="role" style="z-index: 10000000;">
                          <mat-option value="SUPERVISOR">Supervisor</mat-option>
                          <mat-option value="JEFEPRODUCCION">Jefe de Producción</mat-option>
                          <mat-option value="GERENTECOMERCIAL">Gerente Comercial</mat-option>

                          <mat-option value="LOGISTICA">Logistica</mat-option>
                          <mat-option value="IT">It</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>switch_account</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <hr style="margin-top: -0.5rem;">
                  <div class="spacing-buttons">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-labeled btn-success me-1">
                      <span class="btn-label">
                        <i class="fa fa-floppy-o"></i>
                      </span>
                      Agregar
                    </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-labeled btn-danger ms-1 me-1">
                      <span class="btn-label">
                        <i class="fa fa-times-circle"></i>
                      </span>
                      Cancelar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>