 .cdk-global-overlay-wrapper, .cdk-overlay-container {
     z-index: 99999 !important;
  }

table {
  width: 100%;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 9px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

.spacing-buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btn-glyphicon {
  padding: 8px;
  background: #ffffff;
  margin-right: 4px;
}

.icon-btn {
  padding: 2px 15px 3px 2px;
  border-radius: 50px;
}

.form {

  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {

  box-shadow: none;
  border-color: orange;
}


/* DETALLES */

hr {
  color: grey
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  height: auto;
  padding: 0 20px;
  background-color: #003474;
  border-radius: 4px;
}

.contenedor-perfil {
  display: flex;
  width: 800px;
  height: auto;
  background-color: #003474;
  border-radius: 2px;
}

.descripcion {
  text-align: center;
}

.encabezado,
.descripcion {
  padding: 20px;
  text-align: center;
}

.descripcion {
  position: relative;
}

.descripcion .count-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 7 42rem;
  flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}

.descripcion .count-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 15rem;
  flex: 1 1 15rem;
  padding: auto 0.5rem;
  border-radius: .5rem;
  background: rgba(0, 0, 0, 0.1);
}

.descripcion .count-container .box h3 {
  text-align: center;
  font-size: 1.2rem;
  color: #000000;
}

.descripcion .count-container .box p {
  font-size: 1.2rem;
  color: #000000;
}

.box p {
  padding-top: 15px;
}

.box h3 {
  padding-top: 15px;
}

.colorUpdate {
  background-color: #ffc107;
  border-color: #ffc107;
}


@media screen and (min-width:200px) and (max-width:844px) {
  .materialTableHeader {
    padding: 10px 20px;
    align-items: center;
    border-color: #e6e9ed;
    background-color: #ebebee;
    height: 70px;
    min-width: 100vw;
    max-width: 100vw;
  }

  .materialTableHeader .header-buttons-left {
    position: relative;
    list-style: none;
    padding-top: 3px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .add {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .icon-button-demo button {
    margin-right: 0;
    margin-bottom: 0;
  }

  .materialTableHeader .header-buttons {
    position: absolute;
    right: 20px;
    padding: 3px 8px 9px 9px;
  }

}





body {
  background-color: #f9f9fa
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.bg-c-lite-green {
  background-color: #459b09;
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.imgAvatar {
  max-width: 70px;
  max-height: 70px;
}

.contImg {
  margin-top: 20px;
  margin-bottom: 15px;
}

.row>* {
  flex-shrink: 0;
  width: none !important;
  max-width: none !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}