<body>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Usuarios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </nav>
    </div>
    <section>
      <div class="text-center mt-4">
        <button *ngIf="!showTableUsers" data-bs-toggle="modal" data-bs-target="#addUser"
          class="btn icon-btn btn-success ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-user text-success"></span>
          Agregar Usuario
        </button>
        <button *ngIf="!showTableUsers" (click)="showTable();" class="btn icon-btn btn-secondary ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-table text-secondary"></span>
          Tabla de Usuarios
        </button>
        <button *ngIf="showTableUsers" (click)="showTable();" class="btn icon-btn btn-secondary ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-address-card text-secondary"></span>
          Cartas de Usuarios
        </button>
      </div>
      <br>
      <hr>

      <div *ngIf="!showTableUsers" class="row mt-3 clearfix">
        <div class="">
          <div class="d-flex" style="gap:25px; justify-content: center;">
            <div class="col-lg-5">
              <div *ngFor="let user of users" class="card" style="border-radius: .5rem;">
                <div class="row">
                  <div class="col-md-4 gradient-custom text-center text-white"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <div style="background-color: transparent; border-radius: 50%;">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="Avatar" class="img-fluid" style="width: 80px; margin-top: 15px; margin-bottom: 15px;" />
                    </div>
                    <p>{{user.name}} {{user.surname}}</p>
                    <p style="font-size: 15px;">{{user.role}}</p>
                  </div>
                  <div class="col-md-8" style="margin: auto;">
                    <div class="card-body ">
                      <div class="row pt-1">
                        <div class="">
                          <h6 style="margin-bottom: -2px;">Phone</h6>
                          <p class="text-muted">{{user.username}}</p>
                        </div>

                        <div class="">
                          <h6 style="margin-bottom: -2px;">Correo</h6>
                          <p class="text-muted">{{user.email}}</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1 *ngIf="notFound === true && showTableUsers === false" class="text-center">
          Sin Resultados
        </h1>

      </div>


      <div *ngIf="showTableUsers" class="row clearfix mt-5 tableText">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
          <div class="card tableText">
            <div class="materialTableHeader mb-3 mt-3 tableText" style="    min-width: 100%;">
              <div class="row tableText">
                <div class="col-8 tableText">
                  <ul class="header-buttons-left ml-0 tableTitle">
                    <li class="dropdown">
                      <div class="headerTable">
                        <h2 class="titleTableC">Tabla de Usuarios</h2>
                      </div>
                    </li>
                    <li class="dropdown m-l-20 ms-3">
                      <label for="search-input">
                        <i class="material-icons search-icon">search</i>
                      </label>
                      <input placeholder="Buscar Usuario..." type="text" #filter class="browser-default search-field"
                        aria-label="Search box" />
                    </li>
                    <li *ngIf="buttonActions">
                      <div class="icon-button-demo m-l-10">
                        <button mat-mini-fab color="warn">
                          <mat-icon class="col-white">delete
                          </mat-icon>
                        </button>
                      </div>
                    </li>
                    <li *ngIf="buttonActions">
                      <div class="icon-button-demo m-l-10">
                        <button data-bs-toggle="modal" data-bs-target="#updateUser" mat-mini-fab class="colorUpdate">
                          <mat-icon class="col-white">edit
                          </mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="col-4">
                  <ul class="header-buttons">
                    <li>
                      <div class="icon-button-demo add">
                        <button data-bs-toggle="modal" data-bs-target="#addUser" mat-mini-fab color="primary">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                        <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                          <mat-icon>file_download</mat-icon>
                        </button>
                        
                        <mat-menu #menu="matMenu" style="background-color: black;">

                          <button mat-menu-item (click)="exportExcel()">
                            <i  style="color:green" class="fa-solid fa-file-excel"></i>
                            &nbsp;
                            Excel
                          </button>
                          <button mat-menu-item>
                            <i style="color:red" class="fa-solid fa-file-pdf"></i>
                            &nbsp;
                            PDF
                          </button>

                        </mat-menu>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-busered table-hover">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th> </th>
                      <th> Nombre </th>
                      <th> Apellido </th>
                      <th> Username </th>
                      <th> Email </th>
                      <th> Rol </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="text-center"> {{users.indexOf(user) + 1}} </td>
                      <td class="text-center">
                        <mat-checkbox *ngIf="user.checked==true || controloClick==0" #check="matCheckbox"
                          (click)="showButtonActions(user.id, check); getUser(user.id)" class="example-margin"
                          color="primary">
                        </mat-checkbox>
                        <mat-checkbox disabled="" *ngIf="user.checked==false" class="example-margin" color="primary">
                        </mat-checkbox>
                        {{user.position}}
                      </td>
                      <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.name }}
                      </td>
                      <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.surname
                        }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser"> {{
                        user.username }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.email
                        }} </td>
                      <td (click)="getUser (user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.role }}
                      </td>
                    </tr>
                    <tr rowspan="9" *ngIf="notFound === true">
                      <td colspan="9" class="text-center">Sin Resultados</td>
                    </tr>
                  </tbody>
                </table>

                <!-- <div *ngIf="!nameUp && !nameDown && !surnameUp && !surnameDown && !usernameUp && !usernameDown && !ageUp && !ageDown" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserss()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserss()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div> -->

                <!-- <div *ngIf="nameUp" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssNameUp()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssNameUp()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
                  <div *ngIf="nameDown" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssNameDown()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssNameDown()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
      
                  <div *ngIf="surnameUp" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssSurnameUp()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssSurnameUp()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
                  <div *ngIf="surnameDown" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssSurnameDown()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssSurnameDown()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
      
                  <div *ngIf="usernameUp" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssUsernameUp()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssUsernameUp()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
                  <div *ngIf="usernameDown" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssUsernameDown()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssUsernameDown()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
      
                  <div *ngIf="ageUp" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssAgeUp()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssAgeUp()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div>
                  <div *ngIf="ageDown" class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                      (pageChange)="getUserssAgeDown()">
                    </ngb-pagination>
      
                    <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                      (ngModelChange)="getUserssAgeDown()">
                      <option [ngValue]="1">1 items por página</option>
                      <option [ngValue]="2">2 items por página</option>
                      <option [ngValue]="5">5 items por página</option>
                      <option [ngValue]="collectionSize">Todos los items</option>
                    </select>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="addContainer">
              <div class="contact-details">
                <div class="modalHeader">
                  <div class="editRowModal">
                    <div class="modalHeader clearfix">
                      <div class="modal-about contact-header">
                        <div class="contact-details-img">
                          <i class="fas fa-user-plus fa-2x mt-1"></i>
                        </div>
                        <div class="contact-details-heading">
                          <div class="contact-details-name mb-2">
                            Nuevo Usuario
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <hr />
              <div class="body">
                <form #addUserForm="ngForm" class="register-form m-4">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input name="name" autocomplete="off" matInput>
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input name="surname" autocomplete="off" matInput>
                        <mat-icon matSuffix>face</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input name="username" autocomplete="off" matInput>
                        <mat-icon matSuffix>switch_account</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input name="password" autocomplete="off" matInput type="password">
                        <mat-icon matSuffix>key</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input name="email" autocomplete="off" matInput>
                        <mat-icon matSuffix>email</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select name="role">
                          <mat-option value="JEFE">
                            Jefe
                          </mat-option>
                          <mat-option value="OPERARIO">
                            Operario
                          </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>switch_account</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <hr style="margin-top: -0.5rem;">
                  <div class="spacing-buttons">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-labeled btn-success me-1">
                      <span class="btn-label">
                        <i class="fa fa-floppy-o"></i>
                      </span>
                      Agregar
                    </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-labeled btn-danger ms-1 me-1">
                      <span class="btn-label">
                        <i class="fa fa-times-circle"></i>
                      </span>
                      Cancelar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>

        <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Multi Columns Form</h5>
                <form class="row g-3">
                  <div class="col-md-12"> <label for="inputName5" class="form-label">Your Name</label> <input
                      type="text" class="form-control" id="inputName5"></div>
                  <div class="col-md-6"> <label for="inputEmail5" class="form-label">Email</label> <input type="email"
                      class="form-control" id="inputEmail5"></div>
                  <div class="col-md-6"> <label for="inputPassword5" class="form-label">Password</label> <input
                      type="password" class="form-control" id="inputPassword5"></div>
                  <div class="col-12"> <label for="inputAddress5" class="form-label">Address</label> <input type="text"
                      class="form-control" id="inputAddres5s" placeholder="1234 Main St"></div>
                  <div class="col-12"> <label for="inputAddress2" class="form-label">Address 2</label> <input
                      type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="col-md-6"> <label for="inputCity" class="form-label">City</label> <input type="text"
                      class="form-control" id="inputCity"></div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-2"> <label for="inputZip" class="form-label">Zip</label> <input type="text"
                      class="form-control" id="inputZip"></div>
                  <div class="col-12">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" id="gridCheck"> <label
                        class="form-check-label" for="gridCheck"> Check me out </label></div>
                  </div>
                  <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button> <button
                      type="reset" class="btn btn-secondary">Reset</button></div>
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
  </main>
</body>