<body >
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Agregar Detalles de la Orden</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
          <li class="breadcrumb-item active">Agregar Detalles de la Orden</li>
        </ol>
      </nav>
    </div>
    <div>
      <div class="text-center mt-4">
        <button data-bs-toggle="modal" data-bs-target="#addDetalle" class="btn icon-btn btn-success ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fa-solid fa-file-import text-success"></span>
          Agregar Detalle
        </button>

        <button routerLink="/admin/ordenesProduccion" class="btn icon-btn btn-secondary ms-2 me-2">
          <span style="border-radius: 50% 50%;" class="btn-glyphicon fa-solid fa-left-long text-secondary" ></span>
          Regresar
        </button>
      </div>
      <hr>
      <br>
      <table class="table" style="background-color: #fff;">
        <thead class="table-dark">
          <tr>
            <th scope="col">Orden</th>
            <th scope="col">Detalle Orden</th>
            <th scope="col">Proceso</th>
            <th scope="col">Cantidad</th>
            <th scope="col">MTS</th>
            <th scope="col">Cumplimiento</th>
            <th scope="col">Fecha</th>
            <th scope="col">Operario</th>
            <th scope="col">Signo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="dropdown">
            <th scope="row">71</th>
            <td>1</td>
            <td>Corte</td>
            <td>80</td>
            <td>300</td>
            <td>100%</td>
            <td>25/09/2022</td>
            <td>Joaquin Garcia</td>
            <td>1</td>
          </tr>

          <tr>
            <th scope="row">71</th>
            <td>2</td>
            <td>Fusión</td>
            <td>150</td>
            <td>0</td>
            <td>50%</td>
            <td>01/10/2022</td>
            <td>Joaquin Garcia</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">71</th>
            <td>3</td>
            <td>Armado</td>
            <td>600</td>
            <td>0</td>
            <td>0%</td>
            <td>07/10/2022</td>
            <td>Arnoldo Castañeda</td>
            <td>0</td>
          </tr>

          <tr>
            <th scope="row">71</th>
            <td>4</td>
            <td>Limpieaza</td>
            <td>600</td>
            <td>0</td>
            <td>0%</td>
            <td>10/10/2022</td>
            <td>Julio Marroquin</td>
            <td>0</td>
          </tr>

          <tr>
            <th scope="row">71</th>
            <td>5</td>
            <td>Accesorios</td>
            <td>400</td>
            <td>0</td>
            <td>0%</td>
            <td>07/10/2022</td>
            <td>Josue Perez</td>
            <td>0</td>
          </tr>

          <tr>
            <th scope="row">71</th>
            <td>6</td>
            <td>Empaque</td>
            <td>400</td>
            <td>0</td>
            <td>0%</td>
            <td>16/10/2022</td>
            <td>Joaquin Garcia</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">71</th>
            <td>7</td>
            <td>Control de Calidad</td>
            <td>600</td>
            <td>0</td>
            <td>0%</td>
            <td>18/10/2022</td>
            <td>Joaquin Garcia</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div>
      <div class="modal fade" id="addDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Agregar Detalle Orden</h5>
                <form class="row g-3">

                  <div class="content-F row g-3">
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Orden</label>
                      <select id="inputState" class="form-select">
                        <option selected>selecciona</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Proceso</label>
                      <select id="inputState" class="form-select">
                        <option selected>selecciona</option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <input type="text" class="form-control" id="inputName5" placeholder="Cantidad">
                  </div>

                  <div class="col-md-6">
                    <input type="text" class="form-control" id="inputName5" placeholder="metros">
                  </div>

                  <div class="col-4">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Fecha">
                  </div>

                  <div class="col-8">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Cumplimiento %">
                  </div>

                  <div class="col-md-12">
                    <label for="inputCity" class="form-label">Operario</label>
                    <select id="inputState" class="form-select">
                      <option selected>selecciona</option>
                      <option>...</option>
                    </select>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success me-4">
                      <i class="fa-solid fa-floppy-disk"></i> Guardar </button>
                    <button type="reset" class="btn btn-danger ms-4">
                      <i class="fa-solid fa-ban"></i> Cancelar </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
