<body style="min-height: 100vh;">
  <main style="margin: 80px 25px;">
    <div class="pagetitle">
      <h1>Ordenes de Fabricación</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/admin/home" style="text-decoration: none; margin-top:100px;">Inicio</a>
          </li>
          <li class="breadcrumb-item active">Ordenes de Fabricación</li>
        </ol>
      </nav>
    </div>
    <section>
      <div>
        <!--TABLA PRINCIPAL-->
        <div class="row clearfix tableText">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
            <div class="card tableText">
              <div class="materialTableHeader mb-3 tableText headTab">
                <div class="row tableText">
                  <div class="col-8 tableText">
                    <div class="hola">
                      <ul class="header-buttons-left ml-0 tableTitle">
                        <li class="dropdown m-l-20">
                          <label for="search-input">
                            <i class="material-icons search-icon">search</i>
                          </label>
                          <input placeholder="Buscar Orden..." type="text" #filter
                            class="browser-default search-field" aria-label="Search box" />
                        </li>
                      </ul>
                      <div style="float: right">
                        <button class="botonAc" (click)="exportExcel()">
                          <i style="color: green" class="fa-solid fa-file-excel"></i>
                          &nbsp; Excel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tableBody">
                <div class="table-responsive">
                  <table class="table table-bpedidoed table-hover">
                    <thead style="margin: -100px">
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center" style="width: 20px;">Orden</th>
                        <th class="text-center" style="width: 100px">
                          Pedido
                        </th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Vendedor</th>
                        <th class="text-center">Planta</th>
                        <th class="text-center"> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let orden of ordenes">
                        <td style="font-weight: 900;"><b>{{ ordenes.indexOf(orden) + 1 }}</b></td>
                        <td class="text-center"> {{ orden.CVE_ORDEN }} </td>
                        <td style="text-align: right">
                          <span style="text-align: right">{{ orden.CVE_PEDIDO }}
                          </span>
                        </td>
                        <td> {{ orden.CLIENTE }} </td>
                        <td> {{ orden.VENDEDOR }} </td>
                        <td style="text-align: center;"> {{ orden.ID_SEDE }} </td>
                        
                        <td>
                          <a [routerLink]="['/admin/ordenFabricacion/' + orden.CVE_ORDEN]">
                            <i class="fa-solid fa-people-carry-box" style="color: #FFCC00; font-size:20px;"></i>
                          </a>
                        </td>
                      </tr>
                      <tr rowspan="9" *ngIf="notFound === true">
                        <td colspan="9" class="text-center">Sin Resultados</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>