<body class="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Ordenes de Producción</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Ordenes de Producción</li>
                </ol>
            </nav>
        </div>
        <section class="content">
            <div>
                <div class="text-center mt-4">
                    <button data-bs-toggle="modal" data-bs-target="#addUser"
                        class="btn icon-btn btn-success ms-2 me-2">
                        <span style="border-radius: 50% 50%;" class="btn-glyphicon fa fa-file text-success"></span>
                        Agregar Orden
                    </button>
                </div>
                <hr>
                <br>
                <table class="table" style="background-color: #fff;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align: center;">No. Orden</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row" style="text-align: center;">1</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">2</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">3</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">4</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">5</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">6</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">7</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">8</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">9</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">10</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>