<aside class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/gerenteComercial/pedidos">
        <i class="bi bi-check-all"></i>
        <span>Pedidos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/gerenteComercial/ordenesProduccion">
        <i class="bi bi-border-all"></i>
        <span>Ordenes de Producción</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/gerenteComercial/autorizaciones">
        <i class="bi bi-bookmark-check-fill"></i>
        <span>Autorizaciones</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/gerenteComercial/ordenesFabricacion">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        <span>Ordenes de fabricación</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/gerenteComercial/programacion">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Programación</span>
      </a>
    </li>

  </ul>
</aside>