<body class="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Autorización</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Autorización</li>
                </ol>
            </nav>
        </div>
        <section class="content">
            <div>
                <hr>
                <table class="table" style="background-color: #fff;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Orden</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Ventanas</th>
                            <th scope="col">Fecha de Ingreso</th>
                            <th scope="col">Status</th>
                            <th scope="col">Autorización</th>
                            <th scope="col">Cumplimiento</th>
                            <th scope="col">Facturación</th>
                            <th scope="col">Opción</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row">67</th>
                            <td>La Mundial</td>
                            <td>600</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>80%</td>
                            <td>$30,000</td>
                            <td data-bs-toggle="modal" data-bs-target="#viewAutorization" style="cursor: pointer;"><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">71</th>
                            <td>La Mundial</td>
                            <td>100</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Autorizado</td>
                            <td>17%</td>
                            <td>$25,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">69</th>
                            <td>La Mundial</td>
                            <td>300</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>30%</td>
                            <td>$15.000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">74</th>
                            <td>La Mundial</td>
                            <td>400</td>
                            <td>22/09/2022</td>
                            <td>Ingresado</td>
                            <td>Pendiente</td>
                            <td>20%</td>
                            <td>$18,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">68</th>
                            <td>La Mundial</td>
                            <td>89</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>80%</td>
                            <td>$30,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">70</th>
                            <td>La Mundial</td>
                            <td>28</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>70%</td>
                            <td>$28,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">72</th>
                            <td>La Mundial</td>
                            <td>59</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>80%</td>
                            <td>$10,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">119</th>
                            <td>La Mundial</td>
                            <td>19</td>
                            <td>22/09/2022</td>
                            <td>Ingresado</td>
                            <td>Autorizado</td>
                            <td>100%</td>
                            <td>$40,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">120</th>
                            <td>Ferramaster</td>
                            <td>153</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>25%</td>
                            <td>$10,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>
                        <tr>
                            <th scope="row">121</th>
                            <td>Metalpan</td>
                            <td>690</td>
                            <td>22/09/2022</td>
                            <td>Ingresado</td>
                            <td>Pendiente</td>
                            <td>50%</td>
                            <td>$11,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">122</th>
                            <td>Gold Dust</td>
                            <td>219</td>
                            <td>22/09/2022</td>
                            <td>Ingresado</td>
                            <td>Pendiente</td>
                            <td>90%</td>
                            <td>$14,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">123</th>
                            <td>Gold Dust</td>
                            <td>100</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>70%</td>
                            <td>$19,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">124</th>
                            <td>Gold Dust</td>
                            <td>53</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Autorizado</td>
                            <td>100%</td>
                            <td>$25,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">125</th>
                            <td>Gold Dust</td>
                            <td>200</td>
                            <td>22/09/2022</td>
                            <td>Ingresado</td>
                            <td>Autorizado</td>
                            <td>100%</td>
                            <td>$20,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">125</th>
                            <td>Gold Dust</td>
                            <td>250</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>72%</td>
                            <td>$21,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row">126</th>
                            <td>Gold Dust</td>
                            <td>150</td>
                            <td>22/09/2022</td>
                            <td>en proceso</td>
                            <td>Pendiente</td>
                            <td>0%</td>
                            <td>$20,000</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div>
                <div class="modal fade" id="viewAutorization" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Agregar Detalle Orden</h5>
                          <form class="row g-3">
          
                            <div class="content-F row g-3">
                              <div class="col-md-4">
                                <label for="inputState" class="form-label">Orden</label>
                                <select id="inputState" class="form-select">
                                  <option selected>selecciona</option>
                                  <option>...</option>
                                </select>
                              </div>
                              <div class="col-md-4">
                                <label for="inputState" class="form-label">Proceso</label>
                                <select id="inputState" class="form-select">
                                  <option selected>selecciona</option>
                                  <option>...</option>
                                </select>
                              </div>
                            </div>
          
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="inputName5" placeholder="Cantidad">
                            </div>
          
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="inputName5" placeholder="metros">
                            </div>
          
                            <div class="col-4">
                              <input type="text" class="form-control" id="inputAddress2" placeholder="Fecha">
                            </div>
          
                            <div class="col-8">
                              <input type="text" class="form-control" id="inputAddress2" placeholder="Cumplimiento %">
                            </div>
          
                            <div class="col-md-12">
                              <label for="inputCity" class="form-label">Operario</label>
                              <select id="inputState" class="form-select">
                                <option selected>selecciona</option>
                                <option>...</option>
                              </select>
                            </div>
          
                            <div class="text-center">
                              <button type="submit" class="btn btn-success me-4">
                                <i class="fa-solid fa-floppy-disk"></i> Autorizar </button>
                              <button type="reset" class="btn btn-danger ms-4">
                                <i class="fa-solid fa-ban"></i> Rechazar </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </section>
    </main>
</body>