<body class="content">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Autorización</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/admin/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Autorización</li>
                </ol>
            </nav>
        </div>
        <section class="content">
            <div>
                <hr>
                <table class="table" style="background-color: #fff;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align: center;">No. Orden</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row" style="text-align: center;">1</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">2</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">3</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">4</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">5</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">6</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">7</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">8</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">9</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>

                        <tr>
                            <th scope="row"style="text-align: center;">10</th>
                            <td>Gerson</td>
                            <td>de León</td>
                            <td>GDL</td>
                            <td>Admin</td>
                            <td><i class="fa-solid fa-eye me-2 check"></i> view</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>