<main>
  <div>
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logo d-flex align-items-center w-auto" style="text-decoration: none">
                <img src="assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block" style="color: #4eb108">VENTO</span>
              </a>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Login to Your Account
                  </h5>
                  <p class="text-center small">
                    Enter your username & password to login
                  </p>
                </div>
                <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="row g-3 needs-validation">
                  <div class="col-12">
                    <label class="form-label">Usuario</label>
                    <input [(ngModel)]="userLogin.email" type="text" name="email" class="form-control" required />
                  </div>
                  <div class="col-12">
                    <label class="form-label">Contraseña</label>
                    <input [(ngModel)]="userLogin.password" type="password" name="password" class="form-control"  required />
                  </div>

                  <div class="col-12 mt-5">
                    <button  class="btn btn-primary w-100" type="submit">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
