<body>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Detalles de la orden: </h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/admin/home" style="text-decoration: none; margin-top:100px;">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Detalles</li>
                </ol>
            </nav>
        </div>
        <section>
            <div>
                <!--TABLA PRINCIPAL-->
                <div class="row clearfix tableText">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
                        <div class="card tableText">
                            <div class="materialTableHeader mb-3 tableText headTab">
                                <div class="row tableText">
                                    <div class="col-8 tableText">
                                        <div class="hola">
                                            <ul class="header-buttons-left ml-0 tableTitle">
                                                <li class="dropdown m-l-20">

                                                </li>
                                            </ul>
                                            <div style="float: right">
                                                <button class="botonAc">
                                                    <i style="color: green" class="fa-solid fa-file-excel"></i>
                                                    &nbsp; Excel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tableBody">
                                <div class="table-responsive">
                                    <table class="table table-bpedidoed table-hover">
                                        <thead style="margin: -100px">
                                            <tr>
                                                <th class="text-center"
                                                    >
                                                    Orden</th>
                                                <th class="text-center"
                                                    >
                                                    Ventanas <br> Terminadas </th>

                                                <th class="text-center"> Corte <br> Vidrio</th>
                                                <th class="text-center"> Corte <br> Hoja</th>
                                                <th class="text-center"> Corte <br> Marco</th>
                                                <th class="text-center"> Corte <br> Cedazo</th>

                                                <th class="text-center"> Fusión <br> Hoja</th>
                                                <th class="text-center"> Fusión <br> Marco</th>
                                                <th class="text-center"> Fusión <br> Cedazo</th>

                                                <th class="text-center"> Limpieza <br> Hoja</th>
                                                <th class="text-center"> Limpieza <br> Marco</th>
                                                <th class="text-center"> Colocación <br> Tela </th>

                                                <th class="text-center"> Corte <br> Batiente </th>
                                                <th class="text-center"> Colocación <br> Batiente </th>
                                                <th class="text-center"> Tapajambas </th>
                                                <th class="text-center"> Reticula </th>

                                                <th class="text-center"> Armado </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" > 6
                                                </td>
                                                <td class="text-center" > 1
                                                </td>

                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                                <td class="text-center"> 1% </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>