<body style="background-color: #f0f3fb;">
  <mat-toolbar style="background-color: #fff;">
    <mat-toolbar-row>

      <div style="display: flex;">
        <a class="logo textColor no-seleccionable"
          style="display: flex; align-items: center; max-height: 30px; pointer-events:none;">
          <img src="assets/img/logo.png" class="no-seleccionable" style="pointer-events:none;" />
          <span class="d-none d-lg-block textColor no-seleccionable" style="pointer-events:none;"> VENTO app</span>
        </a>
      </div>

      <div>
        <button routerLink="/login" class="btnLogin">Iniciar Sesión</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="display: flex; margin-top: 25px; margin-left: 25px;">
    <mat-form-field>
      <mat-label># Orden</mat-label>
      <mat-select [(ngModel)]="orderSelected">
        <mat-option (click)="getOrden(orden.CVE_ORDEN)" value="{{orden.CVE_ORDEN}}" *ngFor="let orden of orders">
          {{orden.CVE_PEDIDO}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="orderSelected">
    <div>
      <div style="display:flex; justify-content:center;">
        <mat-form-field appearance="fill">
          <mat-label>Artículo</mat-label>
          <mat-select [(ngModel)]="articuloSelected">
            <mat-option (click)="getDetalleArticulo(articulo.CVE_ART)" value="{{articulo.CVE_ART}}"
              *ngFor="let articulo of articulosOrder">
              {{articulo.CVE_ART}} | {{articulo.DESCR}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-tab-group *ngIf="articuloSelected">

        <mat-tab label="CORTE">
          <div style="display:flex; justify-content: center; ">
            <div class="row clearfix tableText">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
                <div class="card tableText">
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table table-bpedidoed table-hover" style="min-width: 50vw;">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Proceso</th>
                            <th class="text-center"> Cantidad </th>
                            <th class="text-center">Por Hacer</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[0].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[0].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[0].REALIZAR}} </td>

                            <td class="text-center">
                              <form id="corteFidrioForm" #corteVidrioForm="ngForm"><mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input [(ngModel)]="detallesArticulos[0].REALIZADO" name="corteV" matInput type="text">
                              </mat-form-field></form>
                            </td>
                            <td>
                              <button (click)="corteVidrio(); updateDetalle(detallesArticulos[0].CVE_ORDEN);"  type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[1].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[1].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[1].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="corteH" matInput type="text" value="{{detallesArticulos[1].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="corteHoja(); updateDetalle(detallesArticulos[1].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[2].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[2].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[2].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="corteM" matInput type="text" value="{{detallesArticulos[2].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="corteMarco(); updateDetalle(detallesArticulos[2].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[3].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[3].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[3].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="corteC" matInput type="text" value="{{detallesArticulos[3].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="corteCedazo(); updateDetalle(detallesArticulos[3].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="FUSION">
          <div style="display:flex; justify-content: center; ">
            <div class="row clearfix tableText">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
                <div class="card tableText">
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table table-bpedidoed table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Proceso</th>
                            <th class="text-center">
                              CANTIDAD
                            </th>
                            <th class="text-center">Por Hacer</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[4].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[4].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[4].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="fusionH" matInput type="text" value="{{detallesArticulos[4].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="fusionHoja(); updateDetalle(detallesArticulos[4].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[5].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[5].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[5].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="fusionC" matInput type="text" value="{{detallesArticulos[5].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="fusionCedazo(); updateDetalle(detallesArticulos[5].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[6].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[6].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[6].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="fusionM" matInput type="text" value="{{detallesArticulos[6].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="fusionMarco(); updateDetalle(detallesArticulos[6].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="LIMPIEZA">
          <div style="display:flex; justify-content: center; ">
            <div class="row clearfix tableText">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
                <div class="card tableText">
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table table-bpedidoed table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Proceso</th>
                            <th class="text-center"> CANTIDAD </th>
                            <th class="text-center">Por Hacer</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[7].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[7].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[7].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="limpiezaH" matInput type="text" value="{{detallesArticulos[7].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="limpiezaHoja(); updateDetalle(detallesArticulos[7].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[8].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[8].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[8].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="limpiezaM" matInput type="text" value="{{detallesArticulos[8].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="limpiezaMarco(); updateDetalle(detallesArticulos[8].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[9].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[9].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[9].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="colocacionTela" matInput type="text" value="{{detallesArticulos[9].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="colocacionTela(); updateDetalle(detallesArticulos[9].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="ARMADO">
          <div style="display:flex; justify-content: center; ">
            <div class="row clearfix tableText">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tableText">
                <div class="card tableText">
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table table-bpedidoed table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Proceso</th>
                            <th class="text-center">
                              CANTIDAD
                            </th>
                            <th class="text-center">Por Hacer</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[10].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[10].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[10].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="corteBatiente" matInput type="text" value="{{detallesArticulos[10].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="corteBatiente(); updateDetalle(detallesArticulos[10].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[11].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[11].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[11].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="colocacionBatiente" matInput type="text" value="{{detallesArticulos[11].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="colocacionBatiente(); updateDetalle(detallesArticulos[11].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[12].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[12].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[12].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="tapajambas" matInput type="text" value="{{detallesArticulos[12].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="tapajambas(); updateDetalle(detallesArticulos[12].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" style="font-weight: 900;">{{detallesArticulos[13].ID_PROCESO}}</td>
                            <td class="text-center"> {{detallesArticulos[13].DESCRIPCION}}: </td>
                            <td class="text-center"> {{detallesArticulos[13].REALIZAR}} </td>
                            <td class="text-center">
                              <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Cantidad</mat-label>
                                <input name="reticula" matInput type="text" value="{{detallesArticulos[13].REALIZADO}}">
                              </mat-form-field>
                            </td>
                            <td>
                              <button (click)="reticula(); updateDetalle(detallesArticulos[13].CVE_ORDEN);" type="button" class="btn btn-labeled btn-success">
                                <span class="btn-label">
                                  <i class="fa-solid fa-floppy-disk me-2"></i>
                                </span>Guardar
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</body>