<aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/home">
                        <i class="bi bi-house-door-fill"></i>
                        <span>Inicio</span>
                  </a>
            </li>
            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/user">
                        <i class="fa-solid fa-user"></i>
                        <span>Usuarios</span>
                  </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/pedidos">
                        <i class="bi bi-check-all"></i>
                        <span>Pedidos</span>
                  </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/autorizacion">
                        <i class="bi bi-bookmark-check-fill"></i>
                        <span>Autorizaciones</span>
                  </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/ordenesProduccion">
                        <i class="bi bi-border-all"></i>
                        <span>Ordenes de Producción</span>
                  </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link collapsed" routerLink="/admin/controlCalidad">
                        <i class="bi bi-check-all"></i>
                        <span>Control de Calidad</span>
                  </a>
            </li>
      </ul>
</aside>